/*  
    Marrom: #423629
    Azul escuro: #4C4C9D
    Azul claro: #28AFB0
    roxo: #AF9BB6
    amarelo: #EEC584
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
}

#searchCity {
    border: none;
    height: 30px;   
}

.weatherSvg {
    height: 10%;
    width: 10%;
}